#content {
     padding-top: 20px
 }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index {
    margin-bottom: 40px;
}

#index a {
    margin: 20px;
    flex-basis: 150px;
}

#index a p {
    margin-bottom: 0px;
    text-align: center;
}

#index a img {
    width: 150px;
    height: auto;
}


#title {
    color: #5cb031;
    background-color: #e6e6e6;
    padding: 5px;
    text-align: center;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: darkgrey;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}
navbar i {
    font-size: 20px;
}

#login-body #logo{
  font-size:100px;
  color: #5cb031;
  background-color: #e6e6e6;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  letter-spacing: -20px;
  display: block;
}

#login-body #title{
  color: #FFFFFF;
  font-size: 20px;
  padding:10px;
  display: block;
}

#login-body #content{
  height: 100%;
}

#login-body .login-area{
  font-size: 25px;
  font-weight: lighter;
  margin: 30px;
  height: 100%;
}

#login-body #submit-button{
  background-color: #5cb031; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#login-body #forgot-password{
  font-style: italic;
  font-size: 20px;
  margin: 0;

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#new .wrapper {
    text-align: center;
    margin: 20px;
    flex-basis: 100px;
    background-color: lightgrey;
    border: gray;
    border-style: solid;
    border-width: 2px;
    /* center divs*/
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 50%;
}

.wrapper i {
  margin-top: 15px;
  font-size: 50px;
}

#new .caption {
  text-align: center;
  margin-bottom: -20px;
}

#new .box {
  margin: 20px;
  flex-basis: 30px;
  background-color: lightgrey;
  border: gray;
  border-style: solid;
  border-width: 2px;
  /* center divs*/
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  width: 50%;
}

#expiration {
  margin-top: 15px;
  margin-left: 25%;
	width: 50%;
}

#minimum {
	margin-left: 25%;
	font-size: 12px;
}

#maximum{
	position: relative;
	bottom: 18px;
	margin-left: 70%;
	font-size: 12px;
}

#new .submit {
    color: #5cb031;
    text-align: center;
    font-size: 30px;
}
