#content {
     padding-top: 20px
 }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index {
    margin-bottom: 40px;
}

#index a {
    margin: 20px;
    flex-basis: 150px;
}

#index a p {
    margin-bottom: 0px;
    text-align: center;
}

#index a img {
    width: 150px;
    height: auto;
}

#search-criteria {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}


#title {
    color: #7ac533;
    text-shadow: -.5px 0px 0px darkgreen;
    padding: 5px;
    text-align: center;
    padding-bottom:5px;
    background:
            linear-gradient(
                    to bottom,
                    rgba(0,0,0,.15) 0%,
                    rgba(0,0,0,0) 100%
            )
            left
            bottom
            #f8f8f8
            no-repeat;
    background-size:100% 5px ;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: #e9e9e9;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    padding-top: 17px;
    background:
            linear-gradient(
                    to bottom,
                    rgba(0,0,0,0) 0%,
                    rgba(0,0,0,.15) 100%
            )
            right
            top
            #f8f8f8
            no-repeat;
    background-size:100% 5px ;

}
navbar i {
    font-size: 20px;
}

#login-body #logo{
  font-size:100px;
  color: #5cb031;
  background-color: #e6e6e6;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  letter-spacing: -20px;
  display: block;
}

#login-body #title{
  color: #FFFFFF;
  font-size: 20px;
  padding:10px;
  display: block;
}

#login-body #content{
  height: 100%;
}

#login-body .login-area{
  font-size: 25px;
  font-weight: lighter;
  margin: 30px;
  height: 100%;
}

#login-body #submit-button{
  background-color: #5cb031; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#login-body #forgot-password {
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#new .wrapper {
    text-align: center;
    margin: 20px;
    flex-basis: 100px;
    background-color: lightgrey;
    border: gray;
    border-style: solid;
    border-width: 2px;
    /* center divs*/
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 50%;
}

.wrapper i {
  margin-top: 15px;
  font-size: 50px;
}

#new .caption {
  text-align: center;
  margin-bottom: -20px;
}

#new .box {
  margin: 20px;
  flex-basis: 30px;
  background-color: lightgrey;
  border: gray;
  border-style: solid;
  border-width: 2px;
  /* center divs*/
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  width: 50%;
}

#expiration {
  margin-top: 15px;
  margin-left: 25%;
	width: 50%;
}

#minimum {
	margin-left: 25%;
	font-size: 12px;
}

#maximum{
	position: relative;
	bottom: 18px;
	margin-left: 70%;
	font-size: 12px;
}

#new .submit {
    color: #5cb031;
    text-align: center;
    font-size: 30px;
}
#filter button {
    margin: 2px;
}

.flex-container.left {
    justify-content: flex-start
}

#filter h2 {
    margin-top: 20px
}

@media only screen and (max-width: 1000px) {
    #new .box, #new .wrapper {
        width: 85% !important;
    }
}

/*Danielle's Css*/

#viewprofile {
    background-color: #5cb031;
}

.propic {
    border-radius: 50%;
    width: 30%;
    height: auto;
} 

.proname {
    font-size: 25px;
    color: #e6e6e6;
}

.proitems {
    text-align: center;
    padding-top: 30px;
 
}
.pronewlinks {
    border-top: 2px solid;
    border-color: black;
    font-size: 30px;
}
#prolinkformat a{
    color: #e6e6e6;
}
#prolinkformat a:hover {
  color: dodgerblue;
}
.profileitem {
    color: #e6e6e6;
}
.editing {
    margin: 10px;
    background-color: darkgrey;
    border: 1px solid grey;
    color: #e6e6e6;
    width: 40%;
    height: auto;
    padding: 2px;
}
#viewer{
    font-size: 20px;
}
#viewer:hover {
    color: dodgerblue;
}

#proaligning {
    text-align: right;
    width: 20%;
    height: auto;
    display: inline-block;
    font-size: 20px;

}
#proaligning-password {
    text-align: right;
    width: 20%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.editbutton {
  color: #e6e6e6;
  background-color: darkgrey;
  border-color: grey;
  font-size: 20px;
}

procloseout {   
    display: inline-block;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 50%;
    padding: 15px;

}
.proback  {
  text-align: left;
}
.procloseoutbutton {
  text-align: right;
  margin-left: 50%;
}
procloseout a {
    font-size: 20px;
}
navbar a {
  color: black;
}

.anitem {
  border-bottom: 5px solid darkgrey;
  text-align: center;
}
.itemInfo{
  display: inline-block;
  color: black;
  width: 60%;
  text-align: right;
  vertical-align: middle;
}
#information{
  color: #5cb031;
  font-size: 15px;

}
.anitem img {
  border: 5px solid #5cb031;
  width: 150px;
  height: auto;
  margin: 10px;
}

/*End of Danielle's Css*/