#content {
     padding-top: 20px
 }

.container{
    padding-bottom: 60px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#index {
    margin-bottom: 40px;
}

#index a {
    margin: 20px;
    flex-basis: 150px;
}

#index a p {
    margin-bottom: 0px;
    text-align: center;
}

#index a img {
    width: 150px;
    height: auto;
}

#search-criteria {
    padding: 10px;
    padding-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}
#search-criteria h3 {
    text-align: right;
}


#title {
    color: #7ac533;
    text-shadow: -.5px 0px 0px darkgreen;
    padding: 5px;
    text-align: center;
    padding-bottom:5px;
    background:
            linear-gradient(
                    to bottom,
                    rgba(0,0,0,.15) 0%,
                    rgba(0,0,0,0) 100%
            )
            left
            bottom
            #f8f8f8
            no-repeat;
    background-size:100% 5px ;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: #e9e9e9;
    height: 60px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    padding-top: 25px;
    background:
            linear-gradient(
                    to bottom,
                    rgba(0,0,0,0) 0%,
                    rgba(0,0,0,.15) 100%
            )
            right
            top
            #f8f8f8
            no-repeat;
    background-size:100% 5px ;

}
navbar i {
    font-size: 20px;
}

navbar a {
    color: black;
}
navbar a.current {
    color: green;
}
navbar a:hover {
  color: #5cb031;
}
navbar i {
    margin-right: 5px
}
navbar a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#login-body #logo{
  font-size:100px;
  color: #5cb031;
  background-color: #e6e6e6;
  margin-bottom: 0;
  text-align: center;
  font-style: italic;
  letter-spacing: -20px;
  display: block;
}

#login-body #content{
  height: 100%;
}

#login-body .login-area{
  font-size: 25px;
  /* font-weight: lighter;*/
  margin: 30px;
  height: 100%;
}

#login-body .login-area input{
  border: 1px solid #ced4da;
}

#login-body #submit-button{
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#login-body .login-area input{
  border-radius: .25rem;
  padding: 5px;
}

/* invalid color */
#login-body .login-area input[type=email]:invalid {
  border: 1px solid red;
}

#login-body #forgot-password {
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper i {
  margin-top: 15px;
  font-size: 50px;
}


#expiration {
  margin-top: 15px;
  margin-left: 25%;
	width: 50%;
}

#minimum {
	margin-left: 25%;
	font-size: 12px;
}

#maximum{
	position: relative;
	bottom: 18px;
	margin-left: 70%;
	font-size: 12px;
}

#filter button {
    margin: 2px;
}

.flex-container.left {
    justify-content: flex-start
}

#filter h2 {
    margin-top: 20px
}

#new  {
    padding: 10px;
}
/*Danielle's Css*/
.propic {
    border-radius: 50%;
    width: 30%;
    height: auto;
    border: 1px solid black;
}

.proname {
    font-size: 25px;
    color: black;
}

.proitems {
    text-align: center;
    padding-top: 30px;

}
.pronewlinks {
    border-top: 2px solid;
    border-color: #5cb031;
    font-size: 30px;
}
#prolinkformat a{
    color: black;
}
#prolinkformat a:hover {
  color: #5cb031;
}
.profileitem {
    color: black;
}
.editing,.notediting  {
    margin: 10px;
    border: 1px solid grey;
    color: black;
    width: 55%;
    height: auto;
    padding: 2px;
}
#viewer{
    font-size: 20px;
    cursor: pointer;
}
#viewer:hover {
    color: #5cb031;
}
#proaligning, #proaligning-password  {
    text-align: right;
    width: 90px;
    height: auto;
    display: inline-block;
    font-size: 20px;

}
#proaligning-password {
    margin-left: 20px;
}
.editing:focus {
  outline: none !important;
  border: 2px solid #5cb031;
  box-shadow: 0 0 10px;
}

.notediting:focus {
  outline: none !important;
}
.notediting{
  cursor: not-allowed;
}
.editbutton {
  color: black;
  border-color: grey;
  font-size: 20px;
}

.editbutton:hover {
  background-color: #5cb031;
}

.editbutton:focus {
  outline: none !important;
}
.anitem {
  border-bottom: 5px solid darkgrey;
  text-align: center;
  width: 100%;
}
.itemInfo{
  display: inline-block;
  color: black;
  width: 49%;
  vertical-align: middle;
  text-align: left;
}
#information{
  color: #5cb031;
  font-size: 80%;
  width: 95%;
  text-align: right;
}
.anitem img {
  border: 5px solid #5cb031;
  width: 70%;
  height: auto;
  margin: 5%;
}
#addpic {
  filter: alpha(opacity=0);
  opacity: 0;
  text-align: center;
}
#labeladdpic:hover {
  background: #5cb031;
}
#labeladdpic{
  color: black;
  border: 1px solid grey;
  width: 200px;
  height: auto;
  text-align: center;
  font-size: 15px;
  cursor: pointer; 
}
/*End of Danielle's Css*/

/* listing page css*/

#listing-image{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#listing-info{
  display: inline-block;
  width: 70%;
  margin: 0;
}

#profile-info{
  display: inline-block;
  width: 25%;
  margin: 0;
}

#profile-info #profile-picture{
  width: 100%;
}
